/output
/pack
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*.d
*.img
*.swp
*.a
/dl
tools/livesuit/tools.scj
external-packages/example/example
tools/pack/out/
tools/pack/wboot/rootfs.fex
target/dragonboard/output/bin/
target/dragonboard/rootfs.ext4
target/dragonboard/rootfs/
target/dragonboard/sysroot/
target/rcS
target/tmp/
target/test/a1x-test.tar.gz
target/dragonboard/sysroot.tar.gz


